.context-menu
  border: solid 2px $mColor-Light
  border-radius: 15px
  overflow: hidden
  background: transparentize(black, 0.2)
  box-shadow: 15px 15px 25px transparentize(darken($mColor-Dark, 10%), 0.5)
  width: 15%
  z-index: 2000
  .ctxMenu-btn
    background: $trans
    color: white
    width: 100%
    padding: 5px 0.10px
    display: inline-block
    transition: $tran
    &:hover
      background: transparentize($mColor, 0.2)
  .ctxMenu-break
    border: solid 0.5px $mColor-Light
    border-radius: 50%
    width: 50%
    margin: 10px 0
