.element-selector
  width: 100%
  background: $mColor
  color: white
  padding: 15px 0
  .element-input
    width: 50%
    z-index: 19999
    border-left: none
    border-right: none
    color: white
    transition: all 0.9s ease
    &:focus
      color: black
      transform: scaleX(2) scaleY(2) translateY(80px)
      background: transparentize($mColor, 0.3)
      border-left: solid 2px $mColor-Light
      border-right: solid 2px $mColor-Light
      box-shadow: 0 0 20px 500px rgba(0,0,0,.9)
  .element-selector.btn
    width: 50%

.selector
  padding: 10px
  color: white
  width: 40vw
  background: $mColor
  margin: 10px 5px
  display: inline-block
  height: 200px
  overflow: auto
  &:hover, &:focus
    .selector-closer
      padding: 0 10px
      opacity: 1
      &:hover, &:focus
        background: $mColor-Light

  &-header
    font-size: 1.5vmax

  &-closer
    float: right
    opacity: 0
    transition: $tran

  .btn
    display: block
    margin: 5px 0
    font-size: 1.5vmax

  input
    margin: 5px 10px
    font-size: 1.9vmax
