* {
  padding: 0;
  margin: 0;
  border-radius: 0;
  outline: none;
  border: none;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgba(203, 206, 241, 0.5);
}
::-webkit-scrollbar-corner, ::-webkit-scrollbar-resizer {
  background: #1d256c;
}

::-mdn-scrollbar {
  width: 5px;
  height: 5px;
}
::-mdn-scrollbar-thumb {
  background: rgba(203, 206, 241, 0.5);
}
::-mdn-scrollbar-corner, ::-mdn-scrollbar-resizer {
  background: #1d256c;
}

::-moz-scrollbar {
  width: 5px;
  height: 5px;
}
::-moz-scrollbar-thumb {
  background: rgba(203, 206, 241, 0.5);
}
::-moz-scrollbar-corner, ::-moz-scrollbar-resizer {
  background: #1d256c;
}

::-o-scrollbar {
  width: 5px;
  height: 5px;
}
::-o-scrollbar-thumb {
  background: rgba(203, 206, 241, 0.5);
}
::-o-scrollbar-corner, ::-o-scrollbar-resizer {
  background: #1d256c;
}

.context-menu {
  border: solid 2px #cbcef1;
  border-radius: 15px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 15px 15px 25px rgba(18, 23, 68, 0.5);
  width: 15%;
  z-index: 2000;
}
.context-menu .ctxMenu-btn {
  background: transparent;
  color: white;
  width: 100%;
  padding: 5px 0.1px;
  display: inline-block;
  transition: all 0.2s ease;
}
.context-menu .ctxMenu-btn:hover {
  background: rgba(62, 76, 203, 0.8);
}
.context-menu .ctxMenu-break {
  border: solid 0.5px #cbcef1;
  border-radius: 50%;
  width: 50%;
  margin: 10px 0;
}

body {
  font-family: Arial;
  background: #1d256c;
}
body .header {
  width: 100vw;
  color: white;
  padding: 5px;
  background: #3e4ccb;
}
body .header .btn, body .header a {
  float: right;
  display: inline-block;
  transition: all 0.2s ease;
  padding: 1vh 1vw;
  color: white;
  background: #3e4ccb;
  margin-left: 5px;
  margin-right: 5px;
}
body .header .btn:hover, body .header a:hover {
  padding: 1vh 3vw;
  background: #cbcef1;
  color: white;
}
body .header .header-title {
  font-size: 2vmax;
  font-weight: bold;
}
body .wrapper {
  font-family: Arial;
  font-size: 2vmin;
  color: white;
  overflow: auto;
  padding-top: 7vh;
  height: 93.1vh;
}
body .wrapper .btn, body .wrapper a {
  display: inline-block;
  transition: all 0.2s ease;
  padding: 2vh 2vw;
  color: white;
  background: #3e4ccb;
  margin-left: 5px;
  margin-right: 5px;
}
body .wrapper .btn:hover, body .wrapper a:hover {
  padding: 2vh 4vw;
  background: #cbcef1;
  color: white;
}
body .wrapper .input {
  background: #1d256c;
  text-align: center;
  color: white;
  padding: 5px 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
body .wrapper .tabs-cont .tabs-display {
  background: rgba(62, 76, 203, 0.5);
}
body .wrapper .tabs-cont .tabs-display textarea {
  background: transparent;
  width: 100%;
  height: 85vh;
  color: white;
}
body .wrapper .tabs-cont .tabs {
  overflow-y: hidden;
  background: rgba(62, 76, 203, 0.5);
  height: 25px;
  width: 100%;
}
body .wrapper .tabs-cont .tabs .tabs-tab {
  user-select: none;
  padding: 5px 10px;
  background: #525fd0;
  display: inline-block;
  transition: all 0.2s ease;
  overflow: hidden;
  margin-right: 5px;
}
body .wrapper .tabs-cont .tabs .tabs-tab:hover {
  background: #7a84db;
  padding: 5px 15px;
}
body .wrapper .tabs-cont .tabs .tabs-tab .tabs-tab-title {
  font-weight: bold;
  margin-right: 5px;
}
body .wrapper .tabs-cont .tabs .tabs-tab .cls-btn {
  font-size: 15px;
  background: transparent;
  transition: all 0.2s ease;
  padding: 0 5px;
}
body .wrapper .tabs-cont .tabs .tabs-tab .cls-btn:hover {
  background: red;
}
body .wrapper .element-selector {
  width: 100%;
  background: #3e4ccb;
  color: white;
  padding: 15px 0;
}
body .wrapper .element-selector .element-input {
  width: 50%;
  z-index: 19999;
  border-left: none;
  border-right: none;
  color: white;
  transition: all 0.9s ease;
}
body .wrapper .element-selector .element-input:focus {
  color: black;
  transform: scaleX(2) scaleY(2) translateY(80px);
  background: rgba(62, 76, 203, 0.7);
  border-left: solid 2px #cbcef1;
  border-right: solid 2px #cbcef1;
  box-shadow: 0 0 20px 500px rgba(0, 0, 0, 0.9);
}
body .wrapper .element-selector .element-selector.btn {
  width: 50%;
}
body .wrapper .selector {
  padding: 10px;
  color: white;
  width: 40vw;
  background: #3e4ccb;
  margin: 10px 5px;
  display: inline-block;
  height: 200px;
  overflow: auto;
}
body .wrapper .selector:hover .selector-closer, body .wrapper .selector:focus .selector-closer {
  padding: 0 10px;
  opacity: 1;
}
body .wrapper .selector:hover .selector-closer:hover, body .wrapper .selector:hover .selector-closer:focus, body .wrapper .selector:focus .selector-closer:hover, body .wrapper .selector:focus .selector-closer:focus {
  background: #cbcef1;
}
body .wrapper .selector-header {
  font-size: 1.5vmax;
}
body .wrapper .selector-closer {
  float: right;
  opacity: 0;
  transition: all 0.2s ease;
}
body .wrapper .selector .btn {
  display: block;
  margin: 5px 0;
  font-size: 1.5vmax;
}
body .wrapper .selector input {
  margin: 5px 10px;
  font-size: 1.9vmax;
}

.free {
  position: fixed;
}

.top {
  top: 0;
}
.top-right {
  top: 0;
  right: 0;
}
.top-left {
  top: 0;
  left: 0;
}

.bottom {
  bottom: 0;
}
.bottom-right {
  bottom: 0;
  right: 0;
}
.bottom-left {
  bottom: 0;
  left: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.selected {
  border: dashed 3px red;
}

.hljs {
  display: block;
  width: 70vw;
  overflow-x: auto;
  font-family: mono !important;
  padding: 0.5vw;
  color: white;
  text-align: left;
  background: #181e58;
  border-radius: 1vw;
}
.hljs-comment, .hljs-quote {
  color: rgba(82, 95, 208, 0.5);
  font-style: italic;
}
.hljs-doctag, .hljs-keyword, .hljs-formula {
  color: #525fd0;
  font-weight: bold;
  font-style: italic;
}
.hljs-section, .hljs-name, .hljs-selector-tag, .hljs-deletion, .hljs-subst {
  color: #e23a3a;
}
.hljs-literal, .hljs-number {
  color: red;
  font-weight: bold;
}
.hljs-string, .hljs-regexp, .hljs-addition, .hljs-attribute, .hljs-meta-string {
  color: #6d78de;
}
.hljs-built_in, .hljs-class .hljs-title {
  color: #e6c07b;
}
.hljs-attr, .hljs-variable, .hljs-template-variable, .hljs-type, .hljs-selector-class, .hljs-selector-attr, .hljs-selector-pseudo {
  color: #d19a66;
}
.hljs-symbol, .hljs-bullet, .hljs-link, .hljs-meta, .hljs-selector-id, .hljs-title {
  color: #61aeee;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-link {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
